<table class="plan-list">
  <% list.each do |id| entry = Entry.find(id) %>
    <tr>
      <td>
        <%= link_to(entry.title, entry_path(entry)) %>
      </td>
      <td>
        <%= link_to plan_entry_path(entry, do: "del_#{part}"), method: :post do %>
            <span class='glyphicon glyphicon-remove'></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>