<table class="table result-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Autor</th>
      <th>Status</th>
    </tr>
  </thead>

  <% @entries.each do |entry| %>
    <tr>
      <td><%= link_to(entry.title, entry_path(entry)) %></td>
      <td><%= entry.user.name %></td>
      <td><%= if entry.edited_entry == nil then 'Neuer Eintrag' else 'Bearbeiteter Eintrag' end %></td>
    </tr>
  <% end %>

</table>