<div id="attachments">
  <h2>Anhänge</h2>
  <% @combined.attachments.each do |attachment| %>

      <div class="attachment">
        <%= link_to attachment.file.url do %>
            <% if attachment.file.content_type =~ /\Aimage\/.*\z/ %>
                <%= image_tag attachment.file.url(:thumb), height: '100' %>
            <% else %>
                <span class="glyphicon glyphicon-download-alt"></span>
            <% end %>
        <% end %>
        <%= attachment.file.original_filename %>
      </div>
  <% end %>
</div>