<div id="attachments">
  <% if not published %>
    <h2>Neue Anhänge</h2>
  <% else %>
    <h2>Anhänge</h2>
  <% end %>
  <% attachments.each do |attachment| %>
    <%= render partial: 'attachments/attachment', locals: {attachment: attachment} %>
  <% end %>
</div>

