
#attachments {
  .attachment {
    display: inline-block;
    width: 100px;
    text-align: center;

    .glyphicon-remove {
      color: red;
    }

    .attachment_image {
      a {
        width: 100px;
        height: 100px;
        overflow: hidden;

        display: inline-block;

        color: gray;
        border: 1px solid gray;
        border-radius: 5px;

        &:hover {
          color: black;
          text-decoration: none;
        }

        .glyphicon {
          display: inline-block;
          font-size: 3.0em;
          padding-top: 30px;
        }
      }

      :after {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .attachment_name {
      width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}