.result-table {
  width: 100%;
  table-layout: fixed;

  thead {
    th:first-child {
      width: 200px;
    }
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.result-filter {
  div {
    padding-top: 15px;
    input[type="text"] {
      width: 100%
    }
  }
}