.result-table {
  width: 100%;
  table-layout: fixed;

  thead {
    th:first-child {
      width: 200px;
    }
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.result-filter {
  div {
    padding-top: 15px;
    input[type="text"] {
      width: 100%
    }
  }
}

#entry_button_area {
  padding-top: 20px;
  float: right;
}

.plan-list {
  margin-left: 10px;
  margin-bottom: 10px;

  tr > td:last-child {
    padding-left: 20px;
  }

  tr > td:last-child > a {
    color: white;
  }
  tr:hover > td:last-child > a {
    color: black;
  }
}

.btn-space {
  padding-top: 5px;
}

.rating-area {
  a {
    color: #013888;
    font-size: 20px;
  }
  a:hover {
    color: #011044;
    text-decoration: none;
  }
}

#attachments {
  .attachment {
    display: inline-block;
    width: 100px;
    text-align: center;

    a {
      width: 100px;
      height: 100px;
      overflow: hidden;

      display: inline-block;

      color: gray;
      border: 1px solid gray;
      border-radius: 5px;

      &:hover {
        color: black;
        text-decoration: none;
      }

      .glyphicon {
        display: inline;
        font-size: 3.0em;
      }
    }

    :after {
      content: "";
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
}