#start-carousel {
  margin-bottom: 20px;
}

.button-start-area {
  line-height: 50px;
  font-size: 16px;
}

.spika-logo-big {
  padding-top: 20px;
  width: 60%;
}

.start_image_prev:hover {
  .glyphicon-remove {
    color: red;
  }
}

.start_image_prev {
  .glyphicon-remove {
    color: white;
  }
}

#collapseAddPictures {
  .btn {
    margin-bottom: 5px;
  }
}