<p>Wilkommen <%= @email %>!</p>

<p>Du kannst deine E-Mail Adresse mit folgenden Link bestätigen:</p>

<p><%= link_to 'Bestätige mein Account', confirmation_url(@resource, confirmation_token: @token) %></p>
