<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert um dein Passwort zu ändern. Da kannst das mit folgendem Link machen.</p>

<p><%= link_to 'Ändere mein Passwort', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls du das nicht angefordert hast, bitte ignoriere dieses E-Mail.</p>
<p>Dein Passwort wird nicht geändert, ausser du folgst dem Link und erstellst ein neues Passwort.</p>
