<div class="row">
  <div class="col-sm-8">
    <h1>Über uns</h1>
    <p>Die AG Spika besteht aus fünf motivierten Mitgliedern von Jungwacht Blauring, welche kurz vor der BV 2/14 durch die FG Animation eingesetzt wurde und sich mit dem Thema Gruppenstunden auseinandersetzen. Um genau zu sein, mit einer nationalen Datenbank für Gruppenstundenideen. Das Ziel der Arbeitsgruppe ist es, für die Leitenden der Jubla eine Plattform zu erstellen auf welcher man gute, lustige, neue, originelle, abwechslungsreiche, altersgerechte und sportliche Gruppenstundenideen sammeln und sich neue Ideen für zukünftige Gruppenstunden holen kann.</p>

  </div>

  <div class="col-sm-4">

    <h1>Links</h1>
    <ul>
      <li><%= link_to 'Kontakt', contact_path %></li>
    </ul>

  </div>
</div>