<div class="row">
  <div class="col-sm-12">
    <h1>Kontakt</h1>
    <p>St. Karliquai 12<br>
       6004 Luzern<br>
       041 419 47 47<br>
       <a href="mailto:spika@jubla.ch">spika@jubla.ch</a></p>

  </div>
</div>