<div id="start-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#start-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#start-carousel" data-slide-to="1"></li>
    <li data-target="#start-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://www.mysocialhq.com/images/homepage-header-banner-bg.jpg">
    </div>
    <div class="item">
      <img src="https://www.mysocialhq.com/images/homepage-header-banner-bg.jpg">
    </div>
    <div class="item">
      <img src="https://www.mysocialhq.com/images/homepage-header-banner-bg.jpg">
    </div>
  </div>

  <a class="left carousel-control" href="#start-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Zurück</span>
  </a>
  <a class="right carousel-control" href="#start-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Weiter</span>
  </a>
</div>


<div class="row">
  <div class="col-sm-8">

    <p id="button-start-area" class="text-center">
      <%= link_to 'Suchen', entries_path, class: "btn btn-primary btn-xlarge"%>
      Nach einer Idee suchen<br>
      <%= link_to 'Erstellen', new_entry_path, class: "btn btn-primary btn-xlarge"%>
      Selber Einträge erstellen
    </p>

    <h1>News</h1>

    <h2>Blabla</h2>

    <p>Lorem ipsum Et occaecat et labore nisi eiusmod voluptate Excepteur incididunt magna velit esse aliqua occaecat
      nostrud consequat ex dolor et voluptate commodo in in culpa consequat aute amet aliqua dolor amet Excepteur ut eu
      aliquip velit velit dolor dolore deserunt ad est dolor anim pariatur magna non dolore eiusmod incididunt sint quis
      eiusmod pariatur dolore ad commodo adipisicing elit fugiat laboris aliqua dolor adipisicing ad culpa commodo sint
      cillum dolor eu officia enim velit in cillum aute mollit aliqua qui sed tempor mollit minim esse do quis commodo
      ullamco nulla Duis voluptate aute amet ut quis ut in est ullamco incididunt consequat et non dolore laborum cillum
      aute adipisicing esse eiusmod qui dolore do dolore pariatur in aute ut Ut sit sed cupidatat fugiat cupidatat Duis
      nulla occaecat et non veniam Ut do do voluptate sed sint veniam consectetur veniam esse velit irure voluptate
      cillum dolor mollit adipisicing veniam dolor sit mollit in aliquip adipisicing sit Excepteur ex cillum
      exercitation aliqua nisi enim dolor Excepteur Duis aute eu veniam ut mollit pariatur dolore eiusmod ad officia
      anim Duis in adipisicing dolore nisi sunt aliquip reprehenderit irure anim minim eu amet proident occaecat dolor
      consectetur laboris cillum consequat.</p>

    <h2>Blabla</h2>

    <p>Lorem ipsum Et occaecat et labore nisi eiusmod voluptate Excepteur incididunt magna velit esse aliqua occaecat
      nostrud consequat ex dolor et voluptate commodo in in culpa consequat aute amet aliqua dolor amet Excepteur ut eu
      aliquip velit velit dolor dolore deserunt ad est dolor anim pariatur magna non dolore eiusmod incididunt sint quis
      eiusmod pariatur dolore ad commodo adipisicing elit fugiat laboris aliqua dolor adipisicing ad culpa commodo sint
      cillum dolor eu officia enim velit in cillum aute mollit aliqua qui sed tempor mollit minim esse do quis commodo
      ullamco nulla Duis voluptate aute amet ut quis ut in est ullamco incididunt consequat et non dolore laborum cillum
      aute adipisicing esse eiusmod qui dolore do dolore pariatur in aute ut Ut sit sed cupidatat fugiat cupidatat Duis
      nulla occaecat et non veniam Ut do do voluptate sed sint veniam consectetur veniam esse velit irure voluptate
      cillum dolor mollit adipisicing veniam dolor sit mollit in aliquip adipisicing sit Excepteur ex cillum
      exercitation aliqua nisi enim dolor Excepteur Duis aute eu veniam ut mollit pariatur dolore eiusmod ad officia
      anim Duis in adipisicing dolore nisi sunt aliquip reprehenderit irure anim minim eu amet proident occaecat dolor
      consectetur laboris cillum consequat.</p>

  </div>

  <div class="col-sm-4">

    <h1>Neueste Gruppenstunden</h1>
    <ul>
      <% @entries.each do |entry| %>
        <li><%= link_to(entry.title, entry_path(entry)) %></li>
      <% end %>
    </ul>

    <h1>Links</h1>
    <ul>
      <li>Schub</li>
      <li>Jubla</li>
      <li>Grustu.ch</li>
      <li>Berikon</li>
    </ul>

  </div>
</div>