<h1 style="font-size: 40px; margin-bottom: 20px;">Beta-Phase abgeschlossen</h1>

<p style="font-size: 16px; margin-bottom: 20px;">Das Spielkatapult ist nun in der finalen Version, welche hier zu finden ist:</p>
<h2 style="font-size: 30px; margin-bottom: 20px;"><a href="http://spika.jubla.ch">spika.jubla.ch</a></h2>