<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6 text-center button-start-area">
      <%= link_to 'Spiel', new_entry_path, class: "btn btn-primary btn-xlarge", style: "width: 230px !important" %><br/>
      Einen einzelnes Spiel erfassen
    </div>
    <div class="col-sm-6 text-center button-start-area">
      <%= link_to 'Gruppenstunde', new_program_path, class: "btn btn-primary btn-xlarge", style: "width: 230px !important" %><br/>
      Eine ganze Gruppenstunde erfassen
    </div>
  </div>
</div>