<div class="row">
  <div class="col-sm-8">
    <h1>Wie plane ich eine Gruppenstunde?</h1>
    <p>Die Theorie zur Planung einer Gruppenstunde befindet sich im Leiterhandbuch "Schub" auf der Homepage von Jungwacht & Blauring Schweiz</p>

  </div>

  <div class="col-sm-4">

    <h1>Links</h1>
    <ul>
      <li><a href="http://www.jubla.ch/publikationen_hilfsmittel/schub_online/gruppe_leiten/">Schub online</a></li>
    </ul>

  </div>
</div>