
<div id="footer-skyline"></div>

<div id="footer">
  <div class="container">
    <div class="col-sm-3">
        <ul>
          <li class="sub-title">Jungwacht Blauring Schweiz</li>
          <li>St. Karliquai 12</li>
          <li>6004 Luzern</li>
          <li>041 419 47 47</li>
          <li><a href="mailto:info@jubla.ch" title="E-Mail">info@jubla.ch</a></li>
        </ul>
    </div>

    <div class="col-sm-3">
    </div>

    <div class="col-sm-3">
    </div>

    <div class="col-sm-3 text-right">
        <img class="jubla-logo" src="http://www.jubla.ch/uploads/media/Jubla_Logo_weiss_01.png"/>
    </div>
  </div>
</div>